* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #0f0c29;
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); 
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); 
  font-family: "Montserrat", sans-serif;
}

.title {
  color: black;
  font-weight: lighter;
  text-align: center;
  padding: 1rem;
}

.card {
  background-color: #fff;
  width: 393px;
  height: 543px;
  margin: 2rem auto;
}

.country {
  color: #333;
  font-size: 2.7em;
  font-weight: bold;
}

.city-wrapper {
  text-align: center;
}

.city-name {
  width: 80%;
  height: 50px;
  border: none;
  font-size: 1em;
  border-bottom: 2px solid #eee;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  transition: 1s all ease;
}

.city-name:focus {
  border-color: #48dbfb;
}

.output {
  width: 190px;	
  margin: 0 auto;
  padding-top: 1em;
}
